@import 'monokai';

h1, h2, h3, h4, h5, h6, h7, h8 {
  font-family: $header-font;

  &:target::before { // Accounts for fixed header when using anchors
    content:"";
    display:block;
    height:$topbar-height;
    margin:-$topbar-height 0 0;

    @include small {
      height:$title-height;
      margin:-$title-height 0 0;
    }
  }
}

a {
  color: $theme-color;

  &.invisilink {
    color: $content-fg;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: $code-font;
}

hr {
  height: 5px;
  border: none;
  border-bottom: 5px solid $theme-color;
}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 1.5em;

  li {
    counter-increment: item;
    margin-bottom: 5px;

    &::before {
        font-family: $header-font;
        color: $theme-color;
        margin-right: 0.5em;
        content: counter(item) ".";
        display: inline;
    }
  }
}

ul {
  list-style: none;
  padding-left: 1.5em;

  li {
    margin-bottom: 5px;

    &::before {
        font-family: $header-font;
        color: $theme-color;
        margin-right: 0.5em;
        content: "•";
        display: inline-block;
    }
  }
}

dl {
  dt {font-family: $header-font;}
  dd {font-family: $code-font;}
}

blockquote {
  border-left: 5px solid $theme-color;
  margin: 0 0 0 1.5em;
  padding: 0 1em;
}
table {
  border-collapse: collapse;
}

th, td {
  padding: 0.5em 1em;
}

th {
  border-bottom: 5px solid $theme-color;
  font-family: $header-font;
}

.flowtext {
  $i: 0;
  @while $i <= $intervals {
    @media only screen and (min-width : 360 + ($i * $interval-size)) {
      font-size: 1.2rem * (1 + (.02 * $i));
    }
    $i: $i + 1;
  }

  // Handle below 360px screen
  @media only screen and (max-width: 360px) {
    font-size: 1.2rem;
  }
}