// Colors
$theme-color: royalblue !default;

$topbar-fg: white !default;
$topbar-bg: black !default;

$content-fg: black !default;
$content-bg: white !default;

// Font stacks

$header-font: 'Montserrat', sans-serif;
$text-font: 'PT Serif', serif;
$code-font: 'Chakra Petch', sans-serif;

// Flow text variables
$intervals: 20 !default;
$interval-size: 600px / $intervals !default;

// You probably shouldn't touch these but we're not stopping you :P
$menu-height: 2rem !default;
$title-height: 5rem !default;
$topbar-height: $menu-height + $title-height;


